@import 'variables';
@import 'mixins';

.main {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 0;
  padding: 0 100px;
  height: 100vh;
  overflow-y: scroll;

  .navbar {
    position: relative!important;
    flex-direction: row;
    margin-top: 23px;
    height: 55px;
    padding: 0;
    width: 100%;
    background: transparent;
    z-index: 101;

    .user-data {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      width: 200px;
      align-items: center;

      p {
        margin: 0;
        margin-right: .5rem;
      }

      .icon {
        width: 36px;
        height: 36px;
        margin-left: .5rem;
        background-color: $orange;
        @include border-radius(50%);
      }
    }
  }

  .breadcrumb {
    position: relative;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: transparent;
    list-style: none;
    z-index: 10;

    .breadcrumb-item {
      float: left;
      font-size: 21px;
      font-weight: 200;
      text-transform: capitalize !important;

      &:last-child:before {
        display: inline-block;
        padding-right: .5rem;
        padding-left: .5rem;
        color: #b0bec5;
        content: "/";
      }

      a {
        color: $primary-font-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }


    }
  }

  .card {
    position: relative;
    overflow: hidden;
    border: 0;
    @include border-radius(6px);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }

  .card-window {
    margin-bottom: 1.5rem;
    min-height: 637px;
    background: #f5f7fb;

    .card-window-title {
      display: flex;
      justify-content: flex-start;
      height: 25px;
      border-bottom: 1px solid #e4ecf4;
      background-color: $white;

      .window-buttons-wrapper {
        display: flex;
        flex-direction: row;
        padding: 9px 0 0 14px;
        width: 200px;

        .window-button {
          margin-right: 7px;
          height: 8px;
          width: 8px;
          background-color: $window-button-bg-color;
          @include border-radius(50%);

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }

    .card-content {
      display: flex;
      justify-content: center;
      min-height: 612px;
      align-items: center;

      .card-client-registry {
        height: 309px;
        width: 328px;
        background-color: $white;
        padding: 56px;

        .icon {
          height: 48px;
          width: 48px;
          margin: 0 auto;
          @include border-radius(50%);
          background: linear-gradient(0deg, #f49d20, #ffbb06);
        }

        .text {
          margin-top: 12px;
          margin-bottom: 1rem;
          color: #243c58;
          font-size: 18px;
          text-align: center!important;
        }

        .button-wrapper {
          text-align: center;

          .mati-button {
            position: relative;
            display: inline-block;
            overflow: visible;
            height: 43px;
            border: none;
            outline: none;
            min-width: 285px;
            padding: 0;
            margin: 3px;
            margin-top: 138px;
            border-radius: 6px;
            background-color: $mati-button-bg-color;
            box-shadow: 0 2px 5px 0 rgba(43, 76, 105, 0.1), 0 4px 14px 0 rgba(43, 76, 105, 0.2);
            text-align: center;
            cursor: pointer;
            
            p {
              margin: 0;
              color: $white !important;
              font-size: 15px;
              letter-spacing: 2px;
              white-space: nowrap;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

.modal-overlay {
  background-color: rgba(86,86,86,.35);
}

.modal-custom {
  overflow: hidden;
  padding: 0;
  width: 100%;
  max-width: 523px;
  min-height: 395px;
  border: 0;
  @include border-radius(8px);
  background-color: $step-modal-bg-color;
  color: $primary-font-color;
  @include font-regular;
  box-shadow: 0 2px 7px 0 hsla(0,0%,60%,.5);
}

.modal-close-button {
  color: #b4b6b8 !important;
}

.registry-modal-step-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .registry-modal-user-data {
    position: relative!important;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    background: transparent;

    .user-data {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 20px;

      p {
        margin: 0;
        margin-right: .5rem;
        color: $disabled-font-color;
        font-size: 11px;
      }

      .icon {
        width: 26px;
        height: 26px;
        margin-right: .3rem;
        background-color: $orange;
        @include border-radius(50%);
      }
    }
  }

  .registry-modal-content {

    .step-welcome-wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      min-height: 400px;
      margin-top: 60px;
      padding: 0 30px 30px;
    }

    .step-welcome-texts-wrapper {
      text-align: center;

      .title {
        margin: 0;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 1.3px;
        text-transform: uppercase;
      }

      .subtitle {
        margin: 0;
        margin-top: 5px;
        color: $secondary-font-color;
        font-size: 14px;
      }
    }

    .step-texts-wrapper {
      text-align: center;

      .title {
        margin: 0;
        margin-top: 15px;
        color: $secondary-font-color;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.3px;
      }
    }

    .step-content-wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      min-height: 355px;
      padding: 20px 30px 20px;
      background-color: $black;

      .texts-wrapper {
        text-align: center;
        
        .title {
          margin: 0;
          color: $white;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 0.1em;
        }

        .description {
          margin: 0;
          color: $secondary-font-color;
          font-size: 12px;
          line-height: 1.2em;
        }
      }

      .registry-tool {
        min-height: 200px;
        
        &.border {
          border: 1px solid $white;
        }
        
        .face {
          min-height: 200px;
          background: url('../img/overlay-face.png');
          background-size: 375px;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: -40px;
        }

        .card {
          min-height: 200px;
          max-width: 306px;
          margin: 0 auto;
          background: url('../img/overlay-card.png');
          background-size: 467px;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: -71px;
          background-color: $step-card-bg-color !important;
        }
      }

      .button-wrapper {
        .mati-button-modal {
          .title {
            font-size: 14px;
          }
        }
      }

      &.final-step-img {
        background: url('../img/kyc-web-success.svg');
        background-size: 580px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -107px;
        background-color: $black;
      }
    }

    .step-welcome-img-wrapper {
      text-align: center;
    }

    .progress-indicator-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      height: 51px;

      .step-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        .step-number {
          display: flex;
          justify-content: center;
          flex-direction: column;
          height: 25px;
          width: 25px;
          margin-top: 5px;
          @include border-radius(50%);
          color: $disabled-font-color;
          background-color: $step-bg-color;
          font-size: 12px;

          .step-number-value {
            text-align: center;
          }
        }

        .current {
          height: 35px;
          width: 35px;
          margin-top: 0;
          background-color: $black;
          color: $white;
          font-size: 18px;
          @include transition(all, 0.1s, ease);
        }

        .current-step-indicator {
          width: 0; 
          height: 0; 
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 11px solid black;
        }
      }
    }

    .button-wrapper {
      text-align: center;

      .mati-button-modal {
        position: relative;
        display: inline-block;
        overflow: visible;
        height: 43px;
        padding: 0 40px;
        box-shadow: 0 2px 5px 0 rgba(43, 76, 105, 0.1), 0 4px 14px 0 rgba(43, 76, 105, 0.2);
        border: none;
        outline: none;
        border-radius: 6px;
        background: linear-gradient(135deg, $primary-gradient-start, $primary-gradient-end);
        text-align: center;
        cursor: pointer;

        .title {
          margin: 0;
          color: $white !important;
          letter-spacing: 2px;
          white-space: nowrap;
          font-size: 15px;
          font-weight: 500;
        }

        .icon {
          position: absolute;
          right: 16px;
          top: 4px;
          width: 10px;
          margin-left: .5rem;
          color: $white;
          font-size: 33px;
        }
      }

      .link {
        text-align: center;

        a {
          color: $white !important;
          text-decoration: underline;
          font-size: 11px;
        }
      }

      .powered-by {
        text-align: center;

        p {
          margin: 5px 0 0;
          color: $disabled-font-color;
          font-size: 11px;
          font-weight: 100;
          letter-spacing: 0.1em;
        }
      }
    }
  }
}