@import 'mixins';
@import 'variables';

.sidebar {
  display: flex;
  flex: 0 0 200px;
  height: 100vh;
  padding: 0;
  border: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 2px 0 2px 0 rgba(157,200,238,.1);
  background: $white;
  z-index: 1000;
  
  .sidebar-nav {
    position: relative;
    width: 200px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .sidebar-logo {
      margin: 0;
      padding: 19px 0 4px 29px;
    }

    .nav {
      display: flex;
      flex-direction: column !important;
      width: 200px;
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none;

      .nav-item {
        position: relative;
        margin: 0;
        text-transform: capitalize;
        @include transition(all, 0.3s, ease-in-out);

        a {
          color: $secondary-font-color;
        }

        .nav-link {
          display: block;
          padding: 6px 0 6px 50px!important;
          background: transparent;
          font-size: 12px;
          text-decoration: none;
          cursor: pointer;

          .nav-link-icon {
            position: absolute;
            left: 23px;
            width: 16px;
            height: 16px;
            background-color: $link-bg-color;
            @include border-radius(50%);
          }
        }
      }

      .nav-item-title {
        margin: 30px 0 8px;
        padding: 0 23px;
        color: $primary-font-color;
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }
}
