// ***
// GENERIC

$black: #000;
$white: #fff;
$orange: #ff6b25;


// ***
// BACKGROUND

$main-bg-color: #fafcfd;
$link-bg-color: #c8d2de;
$window-button-bg-color: #c7cdd7d6;
$mati-button-bg-color: #29294e;
$step-modal-bg-color: #f6f8fb;
$primary-gradient-start: #737ddb;
$primary-gradient-end: #e12ce1;
$step-bg-color: #c7cdd7d6;
$step-card-bg-color: #dac8b2;


// ***
// FONTS

$primary-font-color: #243c58;
$secondary-font-color: #92a6bd;
$hover-font-color: #0396ff;
$disabled-font-color: #a6a6a6;
